@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-800 p-8 px-4 py-2 text-white;
  }

  h1 {
    @apply text-3xl font-bold mb-2;
  }

}

@layer components {
  .link {
    @apply cursor-pointer text-blue-400 underline hover:text-blue-500;
  }

  .button {
    @apply cursor-pointer rounded-lg bg-sky-500 p-3 hover:bg-sky-700;
  }

}
