@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-800 p-8 px-4 py-2 text-white;
  }

  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .link {
    @apply cursor-pointer text-blue-400 underline hover:text-blue-500;
  }

  .button {
    @apply cursor-pointer rounded-lg bg-sky-500 p-3 hover:bg-sky-700;
  }

  .form-control {
    @apply border border-gray-600 bg-transparent px-4 py-3 text-sm text-white transition-colors outline-none placeholder:rounded-md placeholder:italic invalid:border-pink-500 invalid:text-pink-500 focus:border-sky-500 focus:invalid:border-pink-500 disabled:bg-gray-300/10 disabled:text-gray-500;
  }
}
