@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-800 px-4 py-2 text-white;
  }
}

@layer components {
  .link {
    @apply cursor-pointer text-blue-400 underline hover:text-blue-500;
  }
}
